@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
 --clr-blue100: hsl(231, 69%, 60%);
 --clr-red100: hsl(0, 94%, 66%);
 --clr-blue300: 229 8% 60%;
 --clr-blue600: 229 31% 21%;
 --clr-white: #fff;
}

body{
    min-height: 100vh;
    font-size: 1.125rem;
    font-family: "Rubik", sans-serif;
}

/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2em;
    padding-inline: 4em;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 2em;
}

.header__list > li{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.header__list > li > a:hover,
.header__list > li > a:focus-visible{
    color: var(--clr-red100);
}

.header__hamburger{
    display: none;
}

.header__socials{
    display: none !important;
}

.header__btn{
    letter-spacing: 0.1rem;
    background: var(--clr-red100);
    box-shadow: inset 0px 0px 0px 0px var(--clr-white);
    transition: all 0.3s ease-in;
}

.header__btn:hover,
.header__btn:focus-visible,
.banner__btn:hover,
.banner__btn:focus-visible{
    color: var(--clr-red100);
    background: var(--clr-white);
    box-shadow: inset 400px 0px 0px 0px var(--clr-white), 0px 0px 0px 3px var(--clr-red100);
}

.show-menu{
    display: flex !important;
}

/* hero */

.hero{
    display: flex;
    align-items: center;
    margin-top: 6rem;
    padding-left: 4em;
}

.hero__title{
    max-width: 20ch;
}

.hero__btns{
    display: flex;
    align-items: center;
    gap: 1em;
}

.hero__chrome, .hero__firefox{
    padding: 1em 1.6em;
}

.hero__firefox{
    background: hsl(var(--clr-blue300) / 0.1);
    color: hsl(var(--clr-blue600));
    box-shadow: 0 5px 10px 0px hsl(var(--clr-blue300) / 0.4), inset 0px 0px 0px 0px var(--clr-white);
    font-weight: 500;
    box-shadow: inset 0px 0px 0px 0px var(--clr-white);
    transition: all 0.3s ease-in;
}

.hero__firefox:hover,
.hero__firefox:focus-visible{
    box-shadow: none;
    background: var(--clr-white);
    box-shadow: inset 400px 0px 0px 0px var(--clr-white), 0px 0px 0px 3px hsl(var(--clr-blue600));
}

.hero__chrome,
.feature__btn,
.extension__btn,
.faq__btn{
    box-shadow: inset 0px 0px 0px 0px var(--clr-white);
    transition: all 0.3s ease-in;
}

.hero__chrome:hover,
.hero__chrome:focus-visible,
.feature__btn:hover,
.feature__btn:focus-visible,
.extension__btn:hover,
.extension__btn:focus-visible,
.faq__btn:hover,
.faq__btn:focus-visible{
    color: var(--clr-blue100);
    background: var(--clr-white);
    box-shadow: inset 400px 0px 0px 0px var(--clr-white), 0px 0px 0px 3px var(--clr-blue100);
}


/* features */

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    padding-inline: 4em;
}

.features__btns{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    border-bottom: 1px solid hsl(var(--clr-blue300) / 0.3)
}

.feature__option{
    width: 270px;
    padding-block: 1.5em;
    font-weight: 500;
    color: hsl(var(--clr-blue300));
    border-bottom: 4px solid transparent;
}

.feature__option:hover,
.feature__option:focus-visible{
    color: var(--clr-red100);
}

.feature-active{
    color: hsl(var(--clr-blue600));
    border-bottom: 4px solid var(--clr-red100);
}

.feature__content{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-top: 6rem;
    gap: 2em;
    height: 380px;
}

.feature__btn{
    width: fit-content;
}

.text__right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: start;
    text-align: left; 
}

/* extension */

.extension{
    margin-top: 10rem;
    padding-inline: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.extension__img{
    width: 140px;
}

.extension__cards{
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.extension__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75em;
    padding: 4em 1.5em 1.5em 1.5em;
    box-shadow: 0 8px 10px 0px hsl(var(--clr-blue300) / 0.25);
    border-radius: 20px;
    width: 360px;
}

.extension__card:nth-child(2){
    margin-top: 5rem;
}

.extension__card:nth-child(3){
    margin-top: 10rem;
}

.extension__title{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: hsl(var(--clr-blue600));
}

.extension__accent{
    font-size: 1.5rem;
    cursor: pointer;
}

.extension__btn{
    width: 100%;
}

.extension-hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.extension-reveal{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* faq */

.faq{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__item:nth-child(2){
    margin-top: 4rem;
}

.faq__item:last-child{
    border-bottom: 1px solid hsl(var(--clr-blue300) / 0.3);
}

.faq__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid hsl(var(--clr-blue300) / 0.3);
    min-width: 460px;
    width: 45%;
    gap: 1em;
}

.faq__questions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.25em 1.25em 1.25em 0;
    cursor: pointer;
}

.faq__q{
    color: hsl(var(--clr-blue600));
    cursor: pointer;
}

.faq__q:hover,
.faq__q:focus-visible{
    color: var(--clr-red100);
}

.faq__a{
    display: none;
    color: hsl(var(--clr-blue600));
    opacity: 0.75;
    line-height: 1.9;
    padding-bottom: 1.25em
}

.faq__btn{
    width: fit-content;
    margin-top: 2rem;
}

.open{
    display: block;
}
/* banner */

.banner{
    padding-block: 4em;
    margin-top: 8rem;
    background: var(--clr-blue100);
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__text{
    gap: 2.5em;
}

.banner__title{
    font-weight: 400;
    max-width: 20ch;
}

.banner__subtitle{
    text-transform: uppercase;
    color: var(--clr-white);
    letter-spacing: 0.35rem;
    font-size: 0.875rem;
}

.banner__form{
    position: relative;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1em;
}

.banner__input{
    color: hsl(var(--clr-blue300));
    padding-right: 5em;
    width: 100%;
}

.banner__errors{
    position: relative;
}

.error-banner{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-block: 0.25em;
    padding-left: 1em;
    background: var(--clr-red100);
    border-radius: 0 0 5px 5px;
}

.error-banner > p{
    color: var(--clr-white);
    font-size: 0.75rem;
    font-style: italic;
}

.error-input{ 
    border: 3px solid var(--clr-red100);
    border-radius: 5px 5px 0 0;
}

.error-img{
    display: none;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 25px;
}

.banner__btn{
    background: var(--clr-red100);
    padding-inline: 1.15em;
    box-shadow: inset 0px 0px 0px 0px var(--clr-white);
    transition: all 0.3s ease-in;
}

::placeholder{
    font-size: 1rem;
    color: hsl(var(--clr-blue300) / 0.6);
}

/* footer */
.footer{
    background: hsl(var(--clr-blue600));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 8em;
}

.footer__logo{
    filter: invert(99%) sepia(13%) saturate(2%) hue-rotate(223deg) brightness(114%) contrast(100%);
    margin-right: 2rem;
}

.logo{
    width: 200px;
    cursor: pointer;
}

.footer__list{
    display: flex;
    align-items: center;
    gap: 3em;
}

.footer__list > li > a {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--clr-white);
}

.socials{
    display: flex;
    align-items: center;
    gap: 2.5em;
}

.socials > img{
    cursor: pointer;
}

.footer__list > li > a:hover,
.footer__list > li > a:focus-visible{
    color: var(--clr-red100);
}

.socials > img:hover,
.socials > img:focus-visible{
    filter: invert(59%) sepia(37%) saturate(5893%) hue-rotate(324deg) brightness(95%) contrast(107%);
}

/* container */

.container{
    max-width: 1440px;
    margin-inline: auto;
}

@media (max-width: 1440px){
    .container{
        max-width: 1280px;
    }
}

@media (max-width: 1280px){
    .container{
        max-width: 1024px;
    }  
 
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.75rem;
    }

    p, .hero__chrome, .hero__firefox, .feature__btn, .extension__btn{
        font-size: 1rem;
    }

    .hero__img, .feature__img{
        max-width: 450px;
    }

    .extension__card{
        padding: 2em 1em 1em 1.5em;
        width: 300px;
    }

    .footer{
        padding: 2em;
    }
}

@media (max-width: 1024px){
    .container{
        max-width: 768px;
        padding-inline: 2em;
    } 

    .hero{
        flex-direction: column-reverse;
        text-align: center;
        gap: 4em;
    }

    .hero__img{
        transform: translateX(0);
    }

    .feature__content{
        flex-direction: column-reverse;
        text-align: center;
        height: 530px;
    }

    .feature__img > img {
        max-height: 300px;
    }

    .feature__option{
        width: 240px;
    }

    .text__right{
        align-items: center;
        text-align: center; 
    }

    .extension__cards{
        gap: 1em;
    }

    .extension__card{
        padding: 2em 1em 1em 1.5em;
        width: 240px;
    }

    .extension__img{
        width: 100px;
    }
    
    .footer__list{
        gap: 1.75em;
    }

    .socials{
        gap: 1.5em;
    }

    .logo{
        width: 140px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 640px;
        padding-inline: 2em;
    } 

    .header{
        position: relative;
    }

    .header__list{
        display: none;
        position: absolute;
        inset: 0 0 0 40%;
        background: hsl(var(--clr-blue600) / 0.95);
        height: 100vh;
        z-index: 999;
        flex-direction: column;
        color: var(--clr-white);
        padding: 2em;
        gap: 0;
    }

    .header__list > li:first-child{
        margin-top: clamp(6rem, 20vh, 20rem);
    }

    .header__list > li{
        border-top: 1px solid rgba(255, 255, 255, 0.35);
        width: 100%;
        padding-block: clamp(1.25em, 4vh, 2.5em);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        letter-spacing: 0.25rem;
    }

    .header__socials{
        display: flex !important;
        margin-top: auto;
    }

    .header__hamburger{
        position: relative;
        display: block;
        z-index: 9999;
        cursor: pointer;
        width: 20px;
    }

    .header__btn{
        background: transparent;
        box-shadow: inset 0px 0px 0px 3px var(--clr-white);
        width: 100%;
        font-weight: 500;
    }

    .header__btn:hover,
    .header__btn:focus-visible{
        color: hsl(var(--clr-blue600) / 0.9);
        background: var(--clr-white);
        box-shadow: inset 400px 0px 0px 0px var(--clr-white);
    }

    .hero__img, .feature__img{
        max-width: 400px;
    }

    .features__btns{
        flex-direction: column;
        margin-top: 4rem;
        border: 0;
        width: 100%;
        border-top: 1px solid hsl(var(--clr-blue300) / 0.3);
    }

    .feature__option{
        position: relative;
        border-bottom: 1px solid hsl(var(--clr-blue300) / 0.3);
        width: 100%;
        padding-block: 1em;
    }

    .feature-active::after{
        content: '';
        position: absolute;
        top: 97%;
        left: 50%;
        background: var(--clr-red100);
        transform: translateX(-50%);
        height: 4px;
        width: 30%;
    }

    .extension__cards{
        flex-direction: column;
        gap: 2.5em;
        margin-top: 2rem;
    }

    .extension__card{
        width: 260px;
    }

    .extension__card:nth-child(2){
        margin-top: 0;
    }
    
    .extension__card:nth-child(3){
        margin-top: 0;
    }
    
    .extension__img{
        width: 100px;
    }

    .banner__form{
        flex-direction: column;
    }

    .banner__btn{
        width: 100%;
    }

    .error-banner{
        padding-block: 0.2em;
    }

    .footer{
        gap: 1.75em;
    }

    .footer, .footer__list{
        flex-direction: column;
    }

    .footer__list > li {
        font-size: 0.875rem;
    }

    .socials{
        gap: 2em;
    }

    .footer__logo{
        transform: translateX(0.75rem);
    }
}

@media (max-width: 640px){
    .container{
        max-width: 475px;
        padding-inline: 2.5em;
    } 
    
    .header__list{
        inset: 0 0 0 0%;
        padding-inline: 2.5em
    }

    .logo{
        position: relative;
        z-index: 9999;
    }

    .hero__chrome, .hero__firefox{
        padding: 1em 0.75em;
    }

    .show-menu .logo{
        filter: invert(99%) sepia(13%) saturate(2%) hue-rotate(223deg) brightness(114%) contrast(100%);
    }
}

@media (max-width: 475px){
    .container{ 
        width: 100%;
    }

    .hero__title{
        font-size: clamp(1.25rem, 7vw, 2rem)
    }

    .hero__chrome, .hero__firefox{
        padding: 0.5em 0.5em;
    }

    .hero__img, .feature__img{
        max-width: 90%;
    }

    .faq__item{
        min-width: 100%;
    }
}